.navbar {
  width: 200%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(245, 200, 140);
}

.search {
  margin-left: 2px;
  padding: 10px;
}

body {
  padding-top: 56px; /* Adjust this value based on the navbar height */
}
