.navbar {
  width: 200%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgb(3, 115, 115);
}

.search {
  margin-left: 2px;
  padding: 10px;
}

.form {
  align-items: end;
  position: relative;
  left: 30%;
}

.navbar-brand {
  padding: 20px;
}

body {
  padding-top: 56px; /* Adjust this value based on the navbar height */
}
